# ====================================================================
# CONFIGURACIONES DE ENTORNO Y COMUNES (Global)
# ====================================================================
.DS_Store
Thumbs.db
*.log
*.tmp

# ====================================================================
# NETBEANS (Java)
# ====================================================================
# Ignora carpetas privadas, build y dist en cualquier nivel del proyecto
**/nbproject/private/
**/build/
**/dist/
**/target/
**/.gradle/

# ====================================================================
# VISUAL STUDIO CODE (JavaScript / Web)
# ====================================================================
.vscode/
node_modules/
npm-debug.log*
yarn-error.log*

# ====================================================================
# PYCHARM / JETBRAINS (Python)
# ====================================================================
.idea/
*.pyc
*.pyo
*.pyd
__pycache__/
.venv/
venv/
ENV/
env/

venv/
Sistema Demo/
*.log

# EXCEPCIONES ESPECÍFICAS
# Permitir explícitamente el log de la capa de datos de Python
!Python/Clase 7 Capa de Datos - Logging y Postgresql/capa_datos_persona/capa_datos.log
