.idea/
/Java/Clase 02 Bloques/BloquesInicializacion/nbproject/private/
/Java/Clase 02 Bloques/BloquesInicializacion/build/
/Java/Clase 02 Bloques/BloquesInicializacion/dist/
/Java/Clase 02 Bloques/ArgumentosVariables/nbproject/private/
/Java/Clase 02 Bloques/ArgumentosVariables/build/
/Java/Clase 02 Bloques/ArgumentosVariables/dist/
